<mat-card>
    <mat-card-header>
        <mat-card-title>Registration</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form novalidate (ngSubmit)="registration()" [formGroup]="registrationForm">
            <mat-form-field>
                <input matInput class="form-control" placeholder="Name" formControlName="fullname">
                <mat-error *ngIf="registrationForm.get('fullname').errors?.required">Name is required</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput class="form-control" type="tel" placeholder="Phone Number" formControlName="phonenumber"
                    (keypress)="numberOnly($event)" (input)="onSearchChange($event.target.value)" />
                <mat-error *ngIf="registrationForm.get('phonenumber').errors?.required">10 digit phone no is required
                </mat-error>
                <mat-error *ngIf="registrationForm.get('phonenumber').errors?.minlength">
                    Please enter 10 digits phone number.</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput class="form-control" placeholder="Address" formControlName="address">
                <mat-error *ngIf="registrationForm.get('address').errors?.required">Address is required</mat-error>
            </mat-form-field>
            <br>
            <div formGroupName="passwordGroup">
                <mat-form-field>
                    <input matInput class="form-control" placeholder="Password" formControlName="password"
                        type="password">
                    <mat-error *ngIf="registrationForm.get('passwordGroup.password').errors?.required">password is
                        required</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput class="form-control" placeholder="Confirm Password"
                        formControlName="confirmpassword" type="password">
                    <mat-error *ngIf="registrationForm.get('passwordGroup.confirmpassword').errors?.required">confirm
                        password is
                        required</mat-error>
                </mat-form-field>
                <mat-error
                    *ngIf="!registrationForm.get('passwordGroup').errors?.identityRevealed && 
                registrationForm.get('passwordGroup.confirmpassword').dirty && registrationForm.get('passwordGroup.confirmpassword').value.length>2" style="font-size:10px;">
                    password and confirm password
                    doesn't match</mat-error>
            </div>
        </form>
    </mat-card-content>

    <mat-card-actions class="button">
        <button mat-raised-button color="primary">Register</button>
    </mat-card-actions>
</mat-card>