<div id="orderSummary" *ngIf="products.length != 0">
    <mat-card-title>Order summary</mat-card-title>
  <!-- <div>order number</div> -->
  <table mat-table [dataSource]="products" >
    <!-- Item Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Item </th>
      <td mat-cell *matCellDef="let product"> {{product.name}} </td>
      <td mat-footer-cell *matFooterCellDef> items subtotal </td>
    </ng-container>

    <!-- Cost Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Cost </th>
      <td mat-cell *matCellDef="let product"> {{product.price * product.qty | currency:'INR':true}} </td>
      <td mat-footer-cell *matFooterCellDef> {{getSubTotalCost() | currency:'INR':true}} </td>
    </ng-container>

     <!-- set footer for discount amount-->
     <ng-container matColumnDef="discountTitle">
        <td mat-footer-cell *matFooterCellDef class="mobile-hide">Discount</td>
      </ng-container>
  
      <ng-container matColumnDef="discountAmount">
        <td mat-footer-cell *matFooterCellDef class="mobile-value"> {{ discount() | currency:'INR':true }}
        </td>
      </ng-container>

      <!-- set footer for gst amount-->
     <ng-container matColumnDef="gstTitle">
        <td mat-footer-cell *matFooterCellDef class="mobile-hide">GST</td>
      </ng-container>
  
      <ng-container matColumnDef="gstAmount">
        <td mat-footer-cell *matFooterCellDef class="mobile-value"> {{ gst() | currency:'INR':true }}
        </td>
      </ng-container>
  
      <!-- set footer for total amount-->
      <ng-container matColumnDef="totalAmountTitle">
        <td mat-footer-cell *matFooterCellDef class="mobile-hide bold">Total</td>
      </ng-container>
  
      <ng-container matColumnDef="totalAmount">
        <td mat-footer-cell *matFooterCellDef class="mobile-value bold"> {{ getTotalCost() | currency:'INR':true }}
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns" class="subTotalRow"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedDiscountColumns" class="discountRow"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedGstColumns" class="gstRow"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedTotalColumns" class="totalRow"></tr>
  </table>
</div>