<mat-card>
    <mat-card-header>
    <mat-card-title>Login</mat-card-title>
</mat-card-header>
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field>
                    <input type="tel" matInput placeholder="Mobile" formControlName="username" (keypress)="numberOnly($event)" (input)="onSearchChange($event.target.value)">
                    <mat-error *ngIf="loginForm.get('username').errors?.minlength">
                            Please enter 10 digits mobile number.</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="Password" formControlName="password">
                    <mat-error>Password Required!</mat-error>
                </mat-form-field>
            </p>
            <mat-card-actions class="button">
                    <button mat-raised-button type="submit" color="primary">Login</button>
                </mat-card-actions>
                <a class="button" (click)="goToRegistration()">not registered yet ?</a>
        </form>
    </mat-card-content>

</mat-card>