.spacer {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin: 5px;
  }
  #image{
    width: 90%;
    height: 90%;
    
  }
  .centre{
    position: absolute;
    left: 50%;
    transform:translate(-50%)
  }
  #img{
    width: 200px;
    height: 200px;
  }
  mat-card-header{
    margin: 10px; 
  }
