/* :host {
    display: flex;
    /* justify-content: center; 
    margin-top: 20px;
    margin-left: 50px;
  } */
  .mat-card{
    box-shadow: none;
}
  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  mat-card-header,
  mat-card-content {
    display: flex;
    justify-content: space-around;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .button {
    display: flex;
    justify-content: center;
  }
  a {
    color:rgb(34, 34, 146);
    cursor: pointer;
    background-color: transparent;
    text-decoration: underline;
  }
