<mat-card-actions class="button">
        <button mat-raised-button (click)="selectedBank()" color="primary">Select bank details</button>
    </mat-card-actions>
    <mat-card-title> Please select bank details from below.</mat-card-title>
    <mat-grid-list cols='4' id="address">
        <mat-radio-group [(ngModel)]="selection" #radioGroup="matRadioGroup">
            <mat-grid-tile *ngFor="let bank of newBankdetails  let i=index">
                <mat-card>
                    <mat-card-content>
                        <label>Name:</label> {{bank.name}}
                    </mat-card-content>
                    <mat-card-content>
                        <label>Bank name:</label> {{bank.bank_name}}
                    </mat-card-content>
                    <mat-card-content>
                        <label>IFSC:</label> {{bank.ifsc}}
                    </mat-card-content>
                    <mat-card-content>
                        <label>Account number:</label> {{bank.account_number}}
                    </mat-card-content>
                    <mat-radio-button [value]="bank">select bank details</mat-radio-button>
                </mat-card>
            </mat-grid-tile>
        </mat-radio-group>
    </mat-grid-list>
<mat-card>
        <mat-card-header>
            <mat-card-title>Add Bank details here!</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="bankForm" (ngSubmit)="onSubmit()">
                <p>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Name" formControlName="name">
                        <mat-error *ngIf="bankForm.get('name').errors?.required">Name is required</mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input type="text" matInput placeholder="IFSC code" formControlName="ifsc">
                        <mat-error *ngIf="bankForm.get('ifsc').errors?.required">ifsc code is required</mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Account Number" formControlName="accountNo">
                        <mat-error *ngIf="bankForm.get('accountNo').errors?.required">account number is required</mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Bank Name" formControlName="bank">
                        <mat-error *ngIf="bankForm.get('bank').errors?.required">bank name is required</mat-error>
                    </mat-form-field>
                </p>
                <mat-card-actions class="button">
                    <button mat-raised-button type="submit" color="primary">Submit bank details & Buy</button>
                </mat-card-actions>
            </form>
        </mat-card-content>
        <mat-card-actions class="button">
                <button mat-raised-button (click)="getDetails()" color="primary">getDetails</button>
            </mat-card-actions>
    </mat-card>