<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened style="width: 200px">

        <mat-nav-list>
            <a mat-list-item [routerLink]="'/'"> Dashboard</a>
        </mat-nav-list>
        <mat-divider></mat-divider>
        <mat-nav-list>
            <a mat-list-item [routerLink]="'/'"> Passbook</a>
        </mat-nav-list>
        <mat-divider></mat-divider>
        <mat-nav-list>
            <a mat-list-item [routerLink]="'/'"> Transaction</a>
        </mat-nav-list>
        <mat-divider></mat-divider>
        <mat-nav-list>
            <a mat-list-item [routerLink]="'/order'"> Orders</a>
        </mat-nav-list>
        <mat-divider></mat-divider>
        <mat-nav-list>
            <a mat-list-item [routerLink]="'/'"> Team</a>
            <!-- <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">close</mat-icon>
          </button> -->
        </mat-nav-list>
        <mat-divider></mat-divider>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 88vh; padding : 20px">

            <router-outlet>

            </router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>