table {
    width: 100%;
  }
  
  tr.mat-footer-row {
    font-weight: bold;
  }
  #img{
    width: 60px;
    height: 60px;
  }
  button{
    min-width: 20px;
    line-height: 20px;
    padding: 0px;
    background-color: rgb(228, 224, 224);
  }
  i{
    cursor: pointer;
  }