<table mat-table [dataSource]="products" *ngIf="products.length != 0">
  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef> Image </th>
    <td mat-cell *matCellDef="let product"> <img id="img" src="http://3.17.148.164{{product.image}}"
        alt="{{product.name}}"> </td>
    <td mat-footer-cell *matFooterCellDef> Subtotal: </td>
  </ng-container>
  <ng-container matColumnDef="product">
    <th mat-header-cell *matHeaderCellDef> Product </th>
    <td mat-cell *matCellDef="let product"> {{product.name}} </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let product"> {{product.price | currency:'INR':true}} </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef> Amount </th>
    <td mat-cell *matCellDef="let product"> {{product.price * product.qty | currency:'INR':true}} </td>
    <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency:'INR':true}} </td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef> Quantity </th>
    <td mat-cell *matCellDef="let product">
      <button mat-stroked-button (click)="decrement(product)">-</button>
      {{product.qty}}
      <button mat-stroked-button (click)="increment(product)">+</button>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let product" (click)="delete(product)"> <i class="material-icons">delete</i> </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>
<div id="placeOrder">
    <button mat-raised-button color="primary" id="order" (click)="navigate()" *ngIf="products.length != 0">Proceed to Buy</button>
  </div>